.login_page {
    height: 95vh;
    inset: 0;
    
}

.login_title {
    font-size: 1.7rem;
    text-align: center;
    color: #5f5f5f;
}

.login_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(250, 250, 250);
    padding: 2rem 3rem;
    width: 350px;
    background: #ffffff;
    border-radius: 2rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: .2s all ease;
}

.login_input {
    border-color: #ececec;
    border-style: solid;
    border-radius: 12px;
    padding: .6rem 1rem;
        margin: auto;
    margin-top: 5px;
    width: 100%;
    color: #8e8e8e;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    
}

.login_label {
    color: #5f5f5f;
    font-size: .8rem;
    margin-bottom: 100px;
}

.login_input_item {
    margin: .5rem 0;
    width: 100%;
}

.login_warning {
    color: rgb(158, 158, 158);
    font-size: .7rem;
}

.login_submit {
    width: 100%;
    padding: .7rem;
    margin: 1rem 0;
    color: #ecf2ff;
    background-color: #5d87ff;
    border: none;
    border-radius: 12px;
    transition: .2s all ease;
}

.login_submit:hover {
    background: #a8bfff6f;
    color: #5f5f5f;
}


.login_redirect {
    font-size: .7rem;
    text-align: center;
    color: #898989;
}