.createuser_page {
    height: 95vh;
    inset: 0;
    background-color: #ecf2ff;
}

.createuser_title {
    font-size: 1.7rem;
    text-align: center;
    color: #5f5f5f;
}

.createuser_card {
    margin: 3rem auto;
    padding: 2rem 3rem;
    width: 450px;
    background: #ffffff;
    border-radius: 2rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.createuser_input {
    border-color: #ececec;
    border-style: solid;
    border-radius: 12px;
    padding: .6rem 1rem;
    margin: auto;
    margin-top: 5px;
    width: 100%;
    color: #8e8e8e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.createuser_label {
    color: #5f5f5f;
    font-size: .8rem;
    margin-bottom: 100px;
}

.createuser_input_item {
    margin: .5rem 0;
}

.createuser_warning {
    color: rgb(158, 158, 158);
    font-size: .7rem;
}

.createuser_redirect {
    font-size: .7rem;
    text-align: center;
    color: #898989;
}

.create_user_input_image {
    height: 5rem;
}

.create_user_roles_title {
    margin: 0;
    margin-top: 16px;
    padding: 0;
    color: #5f5f5f;
    font-size: 1rem;
}

.create_user_roles_list_instruction {
    font-size: .6rem;
}

.create_user_roles_list {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.create_user_roles_list_item {
    padding: 4px 16px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 2px rgb(235, 235, 235) solid;
    border-radius: 10px;
    font-size: .8rem;
    color: #5f5f5f;
}

.create_user_roles_list_item_nonselectable {
    padding: 4px 16px;
    margin-right: 5px;
    border: 2px rgb(235, 235, 235) solid;
    border-radius: 10px;
    font-size: .8rem;
    background-color: #f1f1f1;
    color: #5f5f5f;
}

.create_user_controls {
    display: flex;
    justify-content: space-between;
}

.create_user_submit {
    width: 47%;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: .7rem;
    font-weight: 700;
    margin: .5rem 0;
    color: #ecf2ff;
    background-color: #5d87ff;
    border: none;
    border-radius: 12px;
    transition: .2s all ease;
    cursor: pointer;
}

.create_user_submit:hover {
    background: #a8bfff6f;
    color: #5f5f5f;
}

.create_user_close {
    width: 47%;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: .7rem;
    margin: .5rem 0;
    color: #ecf2ff;
    background-color: #c9c9c9;
    border: none;
    border-radius: 12px;
    transition: .2s all ease;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.create_user_close:hover {
    background: #a8bfff6f;
    color: #5f5f5f;
}