.users_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users_state_list {
    padding: 0;
    display: flex;
    list-style: none;
}

.users_page_state {
    padding: .5rem 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 170px;
    text-align: center;
    border: 2px #e8e8e8 solid;
    box-sizing: border-box;
    margin-right: 15px;
}



.users_page_state_selected {
    padding: .5rem 0;
    background-color: #5d87ff;
    color: white;
    border-radius: 10px;
    width: 170px;
    text-align: center;
    border: 2px #ffffff solid;
    box-sizing: border-box;
    margin-right: 15px;
}


.users_page_search_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.users_page_search {
    padding: 10px;
    width: 250px;
    margin: 0;
    border: 2px solid #e7e7e7;
    border-radius: 10px;
}

.users_page_actions {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    justify-content: space-between;
}

.users_page_search_title h4 {
    color: #5f5f5f;
    margin: 0;
    margin: auto 0;
    margin-right: 1rem;
}

.users_page_search_title input {
    height: 2rem;
    width: 250px;
    padding: 5px 10px;
    border-style: solid;
    border-color: #d7d7d7;
    border-radius: 7px;

}



.users_page_create {
    width: 100px;
    text-align: center;
    text-decoration: none;
    background-color: #5d87ff;
    padding: .5rem 2rem;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    transition: .2s all ease;
}

.users_page_create:hover {
    color: #393939;
    background-color: white;
}

.users_list_item {
    padding: 1rem;
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.users_list_item img {
    height: 100px;
    margin-right: 1rem;
    border-radius: 20px;
}

.users_list_item h3 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.users_list_item p {
    font-size: .8rem;
}

.users_page_list_wrapper {
    width: 100%;
}