.user_card {
    margin: 5vh auto;
    background-color: rgb(250, 250, 250);
    padding: 2rem 3rem;
    width: 400px;
    background: #ffffff;
    border-radius: 2rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: .2s all ease;
}

.user_image {
    display: block;
    margin: auto;
}

.user_username {
    text-align: center;
    font-weight: 700;
}

.user_button_regular {
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: .4rem .7rem;
    font-weight: 700;
    margin: .5rem 0;
    color: #5e5e5e;
    background-color: #efefef;
    border: none;
    border-radius: 12px;
    transition: .2s all ease;
    cursor: pointer;
    margin-right: 8px;

}

.user_button_submit {
    font-size: .8rem;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    padding: .4rem .7rem;
    font-weight: 700;
    margin: .5rem 0;
    color: #ffffff;
    background-color: #5d87ff;
    border: none;
    border-radius: 12px;
    transition: .2s all ease;
    cursor: pointer;
    margin-right: 8px;
}

.user_button_hide {
    font-size: .8rem;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    padding: .4rem .7rem;
    font-weight: 700;
    margin: .5rem 0;
    color: #5e5e5e;
    background-color: #efefef;
    border: none;
    border-radius: 12px;
    transition: .2s all ease;
    cursor: pointer;
}

.user_warning {
    color: rgb(204, 0, 0);
    font-size: .7rem;
}

.user_button_warning {
    font-size: .8rem;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    padding: .4rem .7rem;
    font-weight: 700;
    margin: .5rem 0;
    color: #ffffff;
    background-color: #ba0000;
    border: none;
    border-radius: 12px;
    transition: .2s all ease;
    cursor: pointer;
    margin-right: 8px;
}

.user_actions_heading {
    margin: 0;
    margin-top: 1rem;
}

.user_actions {
    display: flex;
    flex-wrap: wrap;
}