.permit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.permit_state_list {
    padding: 0;
    display: flex;
    list-style: none;
}

.permit_page_state {
    padding: .5rem 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 170px;
    text-align: center;
    border: 2px #e8e8e8 solid;
    box-sizing: border-box;
    margin-right: 15px;
}



.permit_page_state_selected {
    padding: .5rem 0;
    background-color: #5d87ff;
    color: white;
    border-radius: 10px;
    width: 170px;
    text-align: center;
    border: 2px #ffffff solid;
    box-sizing: border-box;
    margin-right: 15px;
}


.permit_page_search_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.permit_page_search_title {
    display: flex;
    margin: 1rem 0;
}

.permit_page_search_title h4 {
    color: #5f5f5f;
    margin: 0;
    margin: auto 0;
    margin-right: 1rem;
}

.permit_page_search_title input {
    height: 2rem;
    width: 250px;
    padding: 5px 10px;
    border-style: solid;
    border-color: #d7d7d7;
    border-radius: 7px;

}



.permit_page_create {
    width: 100px;
    text-align: center;
    text-decoration: none;
    background-color: #5d87ff;
    padding: .5rem 2rem;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    transition: .2s all ease;
}

.permit_page_create:hover {
    color: #393939;
    background-color: white;
}

.permit_list_item {
    padding: 1rem;
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.permit_list_item img {
    height: 100px;
    margin-right: 1rem;
    border-radius: 20px;
}

.permit_list_item h3 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.permit_list_item p {
    font-size: .8rem;
}
.permit_search_link {
    width: 200px;
    background-color: #5d87ff;
    padding: 8px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
}