.create_permit_card {
    margin: 5vh auto;
    background-color: rgb(250, 250, 250);
    padding: 2rem 3rem;
    width: 70%;
    background: #ffffff;
    border-radius: 2rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: .2s all ease;
}

.create_permit_title {
    padding: 0;
    margin: 0;
}

.create_permit_description {
    text-align: center;
    font-size: .7rem;
    color: #5f5f5f;
}

.create_permit_title {
    font-size: 1.7rem;
    text-align: center;
    color: #5f5f5f;
}

.create_permit_input {
    border-color: #ececec;
    border-style: solid;
    border-radius: 12px;
    padding: .6rem 1rem;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    color: #8e8e8e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.create_permit_label {
    color: #5f5f5f;
    font-size: .9rem;
    margin-bottom: 100px;
}

.create_permit_input_item {
    margin: .5rem 0;
}

.create_permit_option {
    height: 2rem;
}

.create_permit_warning {
    color: rgb(158, 158, 158);
    font-size: .7rem;
}

.create_permit_controls {
    display: flex;
    justify-content: space-between;
}
.create_permit_submit {
    width: 100%;
    padding: .7rem;
    font-weight: 700;
    margin: .5rem 0;
    color: #ecf2ff;
    background-color: #5d87ff;
    border: none;
    border-radius: 12px;
    transition: .2s all ease;
    margin-right: 5px;
}

.create_permit_submit:hover {
    background: #a8bfff6f;
    color: #5f5f5f;
}

.create_permit_close {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: .7rem;
    font-weight: 700;
    margin: .5rem 0;
    color: #ecf2ff;
    background-color: #adadad;
    border: none;
    border-radius: 12px;
    transition: .2s all ease;
    margin-left: 5px;
}

.create_permit_close:hover {
    background: #d6d6d66f;
    color: #5f5f5f;
}

.create_permit_redirect {
    font-size: .7rem;
    text-align: center;
    color: #898989;
}
.create-permit-equpments-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 3rem;
    width: 450px;
    background: #ffffff;
    border-radius: 2rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.create-permit-equipment-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #cbcbcb;
    border-style: solid;
    border-width: 2px;
    padding: .4rem 1rem;
    margin-bottom: .5rem;
    border-radius: 1rem;
}

.create-permit-equpments-modal h2 {
    text-align: center;
}

.create-permit-equipment-item h3 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #5f5f5f;
}

.create-permit-equipment-item span {
    color: #5f5f5f;
}

.create-permit-equipment-item-info {
    margin: 1rem 0;
}

.create-permit-equipment-button {
    padding: 2px 10px;
    margin: .5rem 0;
    font-size: .8rem;
    border-color: #cbcbcb;
    border-style: solid;
    background-color: white;
    color: #5f5f5f;
    border-radius: 7px;
}

.create_permit_equipment_list {
    list-style: none;
}

.create_permit_equipment_list li {
    font-size: .8rem;
    padding-bottom: 4px;
}