.permit_title_container {
    display: flex;
    justify-content: center;
}

.permit_image {
    width: 60%;
    margin: 3rem auto;
}
.permit_card {
    margin: 5vh auto;
    background-color: rgb(250, 250, 250);
    padding: 2rem 3rem;
    width: 70%;
    background: #ffffff;
    border-radius: 2rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: .2s all ease;
}

.permit_card h3 {
    font-size: 1rem;
    margin-top: 3rem
}

.permit_state {
    text-align: center;
    margin: auto;
}

.permit_list_items {
    padding: 10px 15px;
    border: solid 1px #ababab;
    border-radius: 10px;
    margin-bottom: 5px;
    line-height: 1.5rem;
}

.permit_list_items p {
    margin: 0;
    padding: 0;
    font-size: .8rem;
}

.permit_actions {
    display: flex;
    flex-wrap: wrap;
}

.permit_action_item_sign {
    height: 2rem;
    font-size: .8rem;
    width: 140px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5d87ff;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    margin-right: 5px;
}

.permit_action_item_delete {
    height: 2rem;
    font-size: .8rem;
    width: 140px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d90000;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    margin-right: 5px;

}

.permit_action_item_submit {
    height: 2rem;
    font-size: .8rem;
    width: 140px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5d87ff;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    margin-right: 5px;

}
.permit_action_item_back {
    height: 2rem;
    font-size: .8rem;
    width: 140px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bbbbbb;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    margin-right: 5px;
}

.permit_image {
    height: 150px;
    margin: 1rem auto;
    border-radius: 12px;
}

.permit_image_container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.product_record_heading {
    margin: 0 !important;
}

.product_record_type_add {
    color: green;
    font-weight: 700;
}

.product_record_type_sub {
    color: rgb(213, 0, 0);
}