.permit_search_input {
    padding: 8px 1rem;
    width: 300px;
    border-radius: 10px;
    border: 2px #e1e1e1 solid;
    margin-bottom: 1rem;

}

.permit_search_input_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.permit_search_button_regular {
    width: 150px;
    padding: 0 1rem;
    height: 35px;
    background: #f9f9f9;
    border: 2px #e1e1e1 solid;
    color: #5f5f5f;
    border-radius: 10px;

}