.home_title_h1 {
    margin: 3rem 0;
}

.home_flex_1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem
}

.home_flex_1 img {
    height: 402px;
}

.home_flex_2 img {
    width: 100%;
}

.home_flex_2 {
    margin-bottom: 2rem;
}
.home_navigation {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}