.home_item_wrapper {
    position: relative;
    width: 45%;
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    height: 10rem;
    border-radius: 20px;
    transition: .2s all ease;
}

.home_item_wrapper:hover {
    box-shadow: rgba(255, 255, 255, 0.01) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: scale(1.005);
}

.home_item_icon {
    height: 100%;
}

.home_item_info {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.home_item_link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    padding: 8px;
    background-color: #5d87ff;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    transition: .2s all ease;
    text-decoration: none;

}

.home_item_link:hover {
    background-color: #456ddb;
}


.home_item_info h2 {
    font-weight: 700;
}