.navigation_component {
    height: 5vh;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);

}

.navigation_title {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

.navigation_wrapper {
    padding: 0 1rem;
    margin: auto;
}

.navigation_flex {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_lang {
    border: none;
    background-color: rgb(230, 230, 230);
    padding: .4rem;
    font-size: .7rem;
    color: rgb(114, 114, 114);
    border-radius: 5px;
    margin-right: 6px;
}

.navigation_user {
    text-decoration: none;
    color: #f1f1f1;
    padding: .4rem 1rem;
    font-size: .7rem;
    border-radius: 5px;
    background-color: #5d87ff;
    font-weight: 700;
}

.navigation_logo {
    display: flex;
    align-items: center;
}

.navigation_links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation_link {
    text-decoration: none;
    color: #808080;
    margin-right: 16px;
    font-size: .8rem;
}

.navigation_link_selected {
    text-decoration: none;
    color: #343434;
    font-weight: 700;
    margin-right: 16px;
    font-size: .8rem;
    text-decoration: dotted;
}
.navigation_profile_link {
    padding: .5rem 1rem;
    margin-left: 16px;
    text-decoration: none;
    color: white;
    background-color: #5d87ff;
    font-size: .9rem;
    font-weight: 700;
    border-radius: 5px;

}
