.warehouse_page_create {
    width: 100px;
    text-align: center;
    text-decoration: none;
    background-color: #5d87ff;
    padding: .5rem 2rem;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    transition: .2s all ease;
}




.warehouse_products_list {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.warehouse_card {
    width: 20%;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    margin: 1rem 1rem 0 0;
    border-radius: 10px;
}

.warehouse_card h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #5f5f5f;
}

.warehouse_card_measurement {
    font-size: .8rem;
}

.warehouse_card_btn {
    width: 100%;
    padding: .7rem;
    font-weight: 700;
    margin: 2rem 5px 0 0;
    color: #ecf2ff;
    background-color: #5d87ff;
    border: none;
    border-radius: 12px;
    transition: .2s all ease;
}