.product_record_type {
    background-color: rgb(241, 241, 241);
    color: #5f5f5f;
    padding: 5px 10px;
    width: 100px;
    border-radius: 10px;
    margin-right: 6px;
    border: none;

}

.product_record_type_selected {
    background-color: rgb(241, 241, 241);
    color: #5f5f5f;
    font-weight: 700;
    padding: 5px 10px;
    width: 100px;
    border-radius: 10px;
    margin-right: 6px;
    border-color: #5f5f5f;
    border-style: solid;
}

.product_record_buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}

.product_record_button_add {
    padding: 12px;
    font-size: 1rem;
    width: 49%;
    border: none;
    color: white;
    background-color: #5d87ff;
    border-radius: 10px;

}

.product_record_button_hide {
    padding: 12px;
    font-size: 1rem;
    width: 49%;
    border: none;
    color: white;
    background-color: rgb(174, 174, 174);
    border-radius: 10px;


}