.signup_page {
    height: 95vh;
    inset: 0;
    background-color: #ecf2ff;
}

.signup_title {
    font-size: 1.7rem;
    text-align: center;
    color: #5f5f5f;
}

.signup_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 3rem;
    width: 350px;
    background: #ffffff;
    border-radius: 2rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* input {
    border-color: #ececec;
    border-style: solid;
    border-radius: 12px;
    margin-top: 5px;
    height: 1.8rem;
    width: 345px;
    color: #8e8e8e;
}

*/

.signup_label {
    color: #5f5f5f;
    font-size: .8rem;
    margin-bottom: 100px;
}

.signup_input_item {
    margin: .5rem 0;
}

.signup_warning {
    color: rgb(158, 158, 158);
    font-size: .7rem;
}

.signup_submit {
    width: 100%;
    padding: .7rem;
    margin: .5rem 0;
    color: #ecf2ff;
    background-color: #5d87ff;
    border: none;
    border-radius: 12px;
    transition: .2s all ease;
}

.signup_submit:hover {
    background: #a8bfff6f;
    color: #5f5f5f;
}


.signup_redirect {
    font-size: .7rem;
    text-align: center;
    color: #898989;
}