.loader_img {
    height: 100px;
    text-decoration: none;
    margin: auto;
    position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.loader_wrapper {
    position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    text-align: center;
}